body {
    background-color: #fdf1ec;
  }
  
  .carta {
    height: 315px;
    width: 494px; 
    margin-top: 50px;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    
  }
  .carta:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
  }
  .product-img {
    float: left;
    height: 315px;
    width: 257px;
  }
  
  .product-img img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px 0 0 5px;
  }
  
  .producto-info {
    float: right;
    height: 315px;
    width: 237px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
  }
  
  .product-text {
    height: 250px;
    width: 287px;
  }
  
  .product-text h1 {
    margin: 0 0 0 28px;
    padding-top: 42px;
    font-size: 24px;
    color: #474747;
  }
  
  .product-text h1,
  .product-price-btn p {
    font-family: 'Bentham', serif;
  }
  
  .product-text h2 {
    margin: 0 0 37px 28px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color:#d2d2d2;
    letter-spacing: 0.2em;
  }
  
  .product-text p {
    height: 125px;
    margin: 0 0 0 38px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
  }
  
  .product-price-btn {
    height: 63px;
    width: 287px;
    margin-top: 17px;
    position: relative;
  }
  .product-price-btn p {
    display: inline-block;
    position: absolute;
    top: -13px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
  }
  
  p{
    text-align: left;
  }
  span {
    display: inline-block;
    height: 35px;
    font-family: 'Suranna', serif;
    font-size: 25px;
  }
  
  .product-price-btn button {
    float: left;
    display: inline-block;
    height: 30px;
    width: 126px;
    margin: 0 2px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color:#32a889;
    cursor: pointer;
    outline: none;
  }
  
  .product-price-btn button:hover {
    background-color: #79b0a1;
  }